body{
    background-color:lightseagreen; color:white; position: fixed;
}

p{
    margin-top: 150px;
}
#btnClick{
    background-color:hotpink; font-size: 20px; font-weight: 800; width: 150; height: 80; position: fixed;margin-top: -50px;
    margin-left: -100px;top: 10%; left: 50%; font-family:Arial, Helvetica, sans-serif;
    
}
.space{
    border-style:dotted;
    border-color: white;
    border-width: 8px;
    padding-left: 10px;
    padding-top: 10;
    width: 100px;
    height: 100px;
    margin-top: 20 px;
    margin-bottom: 20px;   
    margin-left:10px;
    margin-right:10px;
    font-size: 24px;
    font-weight: 800;
    display: inline-block;
    
}

.selected{
    background-color: paleturquoise;
}